<div class="row align-items-center position-relative">
<div class="col-md-3 card">
  <div class="col-md-12 p-2">
    <div class="img-container">
        <img src="https://github.com/mdo.png" alt="hugenerd" class="rounded-circle imageuser">
    </div>
    <div class="text-dark fw-bold mt-5 pt-3 ">
      <h5>On registration, you can</h5>
    </div>
    <div class="row">
      <div class="col-md-1">
        <i class="fa fa-check-circle text-success fa-lg pe-1" aria-hidden="true"></i>
      </div>
      <div class="col-md-10">
        Build your profile and let recruiters find you
      </div>
    </div>
    <div class="row">
      <div class="col-md-1">
        <i class="fa fa-check-circle text-success fa-lg pe-1" aria-hidden="true"></i>
      </div>
      <div class="col-md-10">
        Get Job postings delivered right to your email
      </div>
    </div>

    <div class="row">
      <div class="col-md-1">
        <i class="fa fa-check-circle text-success fa-lg pe-1" aria-hidden="true"></i>
      </div>
      <div class="col-md-10">
        Find a job and grow your career
      </div>
    </div>
  </div>
</div>

<div class="col-md-9 row">
<form class="text-dark" p-2>
    <div class="form-row p-2">
      <h1 class="heading">Find a job & grow your career</h1>

      <div class="form-group col-md-6 p-2 fs-6">
        <label class="text-dark" for="inputEmail4 font-weight-bold">Full Name</label>
        <input type="email" class="form-control" id="inputEmail4" placeholder="What is your name?">
      </div>

      <div class="form-group col-md-6 p-2">
        <label class="fs-6 text-dark" for="inputEmail4">Email Id</label>
        <input type="email" class="form-control fs-6" id="inputEmail4" placeholder="Tell us your Email ID">
        <p>Email ID is required</p>
      </div>

      <div class="form-group col-md-6 p-2">
        <label class="fs-6 text-dark" for="inputPassword4">Password</label>
        <input type="password" class="form-control fs-6" id="inputPassword4" placeholder="Create a password for your account">
        <p>Minimum 6 characters required</p>
      </div>
      
      <div class="col-md-6 my-1 ms-2">
        <label class="fs-6 text-dark">Mobile Number  </label>
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text fs-6 text-dark">+91</div>
          </div>
          <input type="number" class="form-control fs-6" id="inlineFormInputGroupUsername" placeholder="Mobile Number">
        </div>
        <p>Recruiters will call you on this number</p>
      </div>

      <div class="row ms-2">

        <div class="col-md-6 card">
          <div class="d-flex">
            <div class="pe-2">
              <i class="fa fa-briefcase text-primary" aria-hidden="true"></i>
            </div>
            <div class="">
              <h6 class="text-primary">I'm Experienced</h6>
              <p>I have work experience (excluding internships)</p>
            </div>
          </div>
        </div>

        <div class="col-md-6 card">
          <div class="d-flex">
            <div class="pe-2">
              <i class="fa fa-graduation-cap text-primary" aria-hidden="true"></i>
            </div>
            <div>
              <h6 class="text-primary">I'm a Fresher</h6>
              <p>I am a student / Haven't worked after graduation </p>
            </div>
          </div>
        </div>
      </div>

    <div class="row p-2 fs-6">
      <div class="form-group col-md-6">
        <label class="text-dark" for="inputCity">City</label>
        <input type="text" class="form-control" id="inputCity" placeholder="City">
      </div>
    </div>

    <div class="col-md-6 mt-4 ">
      <button type="submit" class="btn btn-success rounded-pill fs-6 fw-bold me-1">Upload Resume</button>
      <label for="" p-2> Doc, Docx, Pdf, Rtf | Max: 2MB</label>
      <p class="mt-3 fs-6">Recruiters give first preference to candidates who have a resume</p>
    </div>
    
    <div class="form-group mt-5">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label fs-6" for="flexCheckDefault">
          Send me important updates on <i class="fa fa-whatsapp text-success fa-lg p-1" aria-hidden="true"></i>WhatsApp 
        </label>
      </div>
    </div>
    <div class="mt-4">
      <p class="">By clicking Register,you agree to the Terms and Condition & Privacy Policy of BottomHalf Pvt. Ltd.</p>
        <button type="submit" class="btn btn-primary-c rounded-pill fs-6 fw-bold">Register Now</button>
    </div>
    </div>
  </form>
</div>
</div>
