<div class="col-md-12 p-3">
    
    <div class="col-md-12 d-flex justify-content-end">
        <div class="firstImgage">
            <a href="">
                <img src="" alt="">
            </a>
        </div>
    </div>
    
    <div class="col-md-12 container">
        <div class="row col-md-12">


            <div class="col-md-8 row">
                <form action="" class="row" [formGroup]="dashboardForm">

                    <div class="col-md-12 d-flex">
                        <div class="firstImgage">
                            <a href="">
                                <img src="" alt="">
                            </a>
                        </div>
                    </div>

                    <div >
                        <a href="" class=" reounded-circle bg-dark text-white">
                            <img src="" alt="">
                        </a>
                    </div>

                    <img src="" alt="" class="rounded-circle">
    
                    <div class="col-md-6">
                        <label for="inputFirstName" class="form-label">First Name</label>
                        <input type="text" class="form-control" id="inputFirstName" formControlName="firstName">
                    </div>
                
                    <div class="col-md-6">
                        <label for="inputLasttName" class="form-label">Last Name</label>
                        <input type="text" class="form-control" id="inputLastName" formControlName="lastName">
                    </div>
                
            
                    <div class="col-md-2">
                    <label for="inputMobileNumber" class="form-label">Mobile Number</label>
                    <input type="number" class="form-control" id="inputZip" formControlName="mobileNumber">
                    </div>
                
                    <div class="col-md-6">
                        <label for="inputEmail4" class="form-label">Email</label>
                        <input type="email" class="form-control" id="inputEmail4" formControlName="email">
                    </div>
    
                </form>
    
            </div>
        </div>


    </div>

</div>
