<div class="container bg-white px-5 my-4">
    <div class="profile-header shadow-lg row text-white mt-2 ms-3 me-0">
        <div class="col-md-1">
            <div class="row col-md-12 d-flex align-items-center justify-content-center ps-2">
                <i class="profilecamera fa fa-camera text-white" aria-hidden="true"></i>
                <img src="assets/images/profile.jpeg" alt="hugenerd" class="rounded-circle img-fluid">
            </div>
        </div>
        <div class="col-md-11 row">
            <div class="mt-3">
                <label class="fw-bold" for="">SARFARAZ NAWAZ</label>
                <a href="" class="ps-2 "> <i class="fa fa-pencil text-white " aria-hidden="true"></i> </a>
            </div>
            <div class="">
                <label for="">Software Developer (Full-Stack Developer) at BottomHalf</label>
            </div>
            <div class="col-md-12 row mt-3">
                <div class="col-md-3">
                    <div class="col-md-12">
                        <a href=""> <i class="fa fa-map-marker text-white" aria-hidden="true"></i> </a>
                        <label for="" class="ps-2">Mumbai, INDIA</label>
                    </div>
                    <div class="col-md-12 py-1">
                        <a href=""> <i class="fa fa-briefcase text-white" aria-hidden="true"></i> </a>
                        <label for="" class="ps-2">8 Years 2 Months</label>
                    </div>
                    <div class="col-md-12">
                        <a href=""> <i class="fa fa-calendar-o text-white" aria-hidden="true"></i> </a>
                        <label for="" class="ps-2">1 Month notice period</label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="col-md-12">
                        <a href=""> <i class="fa fa-phone text-white" aria-hidden="true"></i> </a>
                        <label for="" class="ps-2">9819739356</label>
                    </div>
                    <div class="col-md-12 py-1">
                        <a href=""> <i class="fa fa-envelope-o text-white" aria-hidden="true"></i> </a>
                        <label for="" class="ps-2">sarfaraznawaz35@gmail.com</label>
                    </div>
                </div>
                <!-- <a href=""><i class="fa fa-check-circle-o fs-5 text-white" aria-hidden="true"></i></a> -->
            </div>

            <div class="progress my-4 px-0">
                <div class="progress-bar bg-white rounded-0" role="progressbar" style="width: 95%" aria-valuenow="100"
                    aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
    </div>

    <div class="col-md-12 row mt-3 m-0 p-0">
        <div class="col-md-3">
            <div class="quick-link col-md-12 card shadow-lg px-3 py-3 mt-4">
                <h5 class="text-dark">Quick Links</h5>
                <hr class="p-0 my-2">
                <p class="d-flex justify-content-between">
                    <a href="javascript:void(0)" class="text-decoration-none text-dark"> Resume</a>
                    <a href="javascript:void(0)" class="quickresumeupdate text-decoration-none text-primary-c">UPDATE</a>
                </p>
                <p><a href="javascript:void(0)" class="text-decoration-none text-dark">Key Skills</a></p>
                <p class="d-flex justify-content-between">
                    <a href="javascript:void(0)" class="text-decoration-none text-dark">Employment</a>
                    <a href="javascript:void(0)" class="quickadd text-decoration-none text-primary-c">ADD</a>
                </p>

                <p class="d-flex justify-content-between">
                    <a href="javascript:void(0)" class="text-decoration-none text-dark">Education</a>
                    <a href="javascript:void(0)" class="quickadd text-decoration-none text-primary-c">ADD</a>
                </p>
                <p><a href="javascript:void(0)" class="text-decoration-none text-dark">IT Skills</a></p>
                <p class="d-flex justify-content-between">
                    <a href="javascript:void(0)" class="text-decoration-none text-dark">Projects</a>
                    <a href="javascript:void(0)" class="quickadd text-decoration-none text-primary-c">ADD</a>
                </p>

                <p><a href="javascript:void(0)" class="text-decoration-none text-dark">Profile Summary</a></p>
                <p><a href="javascript:void(0)" class="text-decoration-none text-dark">Accomplishments</a></p>
                <p><a href="javascript:void(0)" class="text-decoration-none text-dark">Career Profile</a></p>
                <p class="mb-1"><a href="javascript:void(0)" class="text-decoration-none text-dark">Personal Details</a>
                </p>
            </div>
        </div>
        <div class=" col-md-9 p-0 m-0">
            <div class="col-md-12 py-3 card shadow-lg mt-4">
                <h5 class="text-dark ps-3">Resume</h5>
                <p class="ps-3 mb-0">Resume is the most important document recruiters look for. Recruiters generally do not look at
                    profiles without resumes </p>
                <!-- <div class="">
                    <div class="d-flex justify-content-end pe-5">
                        <a href="">
                            <i class="fa fa-download text-primary-c" aria-hidden="true"></i>
                        </a>
                    </div>
                    <div class="d-flex justify-content-end">
                        <a href="javascript:void(0)" class="text-decoration-none text-primary-c fw-bold pe-3 ">DELETE
                            RESUME</a>
                    </div>
                </div> -->
                <div class="mx-4 mt-3 p-4 border py-5">
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary-c btn-sm " text>UPDATE RESUME</button>
                    </div>
                    <p class="text-center">Supported Formats doc, docx, rtf, pdf upto 2 MB</p>
                </div>
                <div class="x-panel mx-4 mt-3 p-4 py-4 d-flex align-items-center justify-content-between custom-backgrnd-color" >
                    <div class="d-flex align-items-center justify-content-center py-3 ">
                      <i class="Dont-have-resume fa fa-folder text-warning f-zoom pe-3" aria-hidden="true"></i>
                      <div >
                        <h6>Don't have a resume yet?</h6>
                        <p class="mb-0">Create a job-winning resume with our simple resume builder</p>
                      </div>
                    </div>
                    <a href="javascript:void(0)" class="createfreeresume text-decoration-none text-primary-c pe-3 ">CREATE FREE RESUME</a>
                </div>
            </div>

            <div class="card shadow-lg mt-4 px-3 py-4">
                <h5 class="text-dark">Resume Headline <a href="javascript:void(0)"><i class="ps-2 fs-6 fa fa-pencil"
                            aria-hidden="true"></i></a> </h5>
                <p class="mb-0">Resume is the most important document recruiters look for. Recruiters generally do not
                    look at
                    profiles without resumes</p>
            </div>
            <div class="card shadow-lg mt-4 px-3 py-4">
                <h5 class="text-dark">Key Skills <a href="javascript:void(0)"><i class=" ps-2 fs-6 fa fa-pencil"
                            aria-hidden="true"></i></a> </h5>
                <p class="mb-0">Mention your Skills</p>
            </div>
            <div class="card shadow-lg mt-4 px-3 py-4">
                <div class="d-flex justify-content-between">
                    <h5 class="text-dark">Employment </h5>
                    <a href="javascript:void(0)" (click)="employementPopup(content)" class="addemployment text-decoration-none text-primary-c">ADD EMPLOYMENT</a>
                </div>
                <p class="mb-0">Employment Detail</p>
            </div>
            <div class="card shadow-lg mt-4 px-3 py-4">
                <div class="d-flex justify-content-between">
                    <h5 class="text-dark">Education </h5>
                    <a href="javascript:void(0)" class="addeducation text-decoration-none text-primary-c">ADD EDUCATION</a>
                </div>
                <p class="mb-0">Educational Detail</p>
            </div>
            <div class="card shadow-lg mt-4 px-3 py-4">
                <div class="d-flex justify-content-between">
                    <h5 class="text-dark">IT Skills </h5>
                    <a href="javascript:void(0)" class="additskills text-decoration-none text-primary-c">ADD IT SKILLS </a>
                </div>
                <p class="mb-0">Specify detail about programming languages (such as java, Python, C/C++, Oracle, SQL
                    etc), softwares (Microsoft Word, Excel, Tally etc) or any other software related Knowledge</p>
            </div>
            <div class="card shadow-lg mt-4 px-3 py-4">
                <div class="d-flex justify-content-between">
                    <h5 class="text-dark">Projects </h5>
                    <a href="javascript:void(0)" class=" addprojects text-decoration-none text-primary-c">ADD PROJECTS </a>
                </div>
                <p class="mb-0">Specify details about projects you have done in college, internship or at work </p>
            </div>
            <div class="card shadow-lg mt-4 px-3 py-4">
                <div class="d-flex justify-content-between">
                    <h5 class="text-dark">Profile Summary </h5>
                    <a href="javascript:void(0)" class="addprofilesummary text-decoration-none text-primary-c">ADD PROFILE SUMMARY </a>
                </div>
                <p class="mb-0">Your profile summary should mention the highlight of your career and education, what
                    your professional interest are, and what kind of a career you are looking for. Write a meaning full
                    sunnary of more than 50 characters. </p>
            </div>
            <div class="card shadow-lg mt-4 px-3 py-4 ">
                <h5 class="text-dark">Accomplishments</h5>
                <div class="d-flex justify-content-between mt-4">
                    <h6 class="text-dark">Online Profile </h6>
                    <a href="javascript:void(0)" class="accomplishmentsadd text-decoration-none text-primary-c">ADD </a>
                </div>
                <p class="mb-0">Add link to Online profile (e.g LinkedIn, Facebook etc) </p>
                <hr>
                <div class="d-flex justify-content-between">
                    <h6 class="text-dark">Work Sample </h6>
                    <a href="javascript:void(0)" class="accomplishmentsadd text-decoration-none text-primary-c">ADD </a>
                </div>
                <p class="mb-0">Add link to your Projects (e.g. Github links etc) </p>
                <hr>
                <div class="d-flex justify-content-between">
                    <h6 class="text-dark">White Paper / Research Publication / Journal Entry </h6>
                    <a href="javascript:void(0)" class="accomplishmentsadd text-decoration-none text-primary-c">ADD </a>
                </div>
                <p class="mb-0">Add link to your Online publications. </p>
                <hr>
                <div class="d-flex justify-content-between">
                    <h6 class="text-dark">Presentation </h6>
                    <a href="javascript:void(0)" class="accomplishmentsadd text-decoration-none text-primary-c">ADD </a>
                </div>
                <p class="mb-0">Add link to your Online presentations (e.g. Slideshare presentation links etc) </p>
                <hr>
                <div class="d-flex justify-content-between">
                    <h6 class="text-dark">Patent </h6>
                    <a href="javascript:void(0)" class="accomplishmentsadd text-decoration-none text-primary-c">ADD </a>
                </div>
                <p class="mb-0">Add details of Patents you have filed. </p>
                <hr>
                <div class="d-flex justify-content-between">
                    <h6 class="text-dark">Certification</h6>
                    <a href="javascript:void(0)" class="accomplishmentsadd text-decoration-none text-primary-c">ADD </a>
                </div>
                <p class="mb-0">Add details of certifications you have achieved/completed </p>
            </div>
            <div class="card shadow-lg mt-4 px-3 py-4">
                <h5 class="text-dark">Career Profile <a href="javascript:void(0)"><i class=" ps-2 fs-6 fa fa-pencil"
                            aria-hidden="true"></i></a> </h5>
                <div class="d-flex justify-content-between">
                    <div class="col-md-6">
                        <label for="">Current Industry</label>
                        <p><a href="javascript:void(0)" class="text-decoration-none"> Add Current Industry</a></p>
                    </div>
                    <div class="col-md-6">
                        <label for="">Department</label>
                        <p><a href="javascript:void(0)" class="text-decoration-none">Add Department</a></p>
                    </div>
                </div>
                <div class="d-flex justify-content-between">
                    <div class="col-md-6">
                        <label for="">Desired Job Type</label>
                        <p><a href="javascript:void(0)" class="text-decoration-none">Add Job Type</a></p>
                    </div>
                    <div class="col-md-6">
                        <label for="">Desired Employment Type</label>
                        <p><a href="javascript:void(0)" class="text-decoration-none">add Employment Type</a></p>
                    </div>
                </div>
                <div class="d-flex justify-content-between">
                    <div class="col-md-6">
                        <label for="">Prefered Shift</label>
                        <p><a href="javascript:void(0)" class="text-decoration-none">Add Prefered Shift</a></p>
                    </div>
                    <div class="col-md-6">
                        <label for="">Prefered Work Location</label>
                        <p><a href="javascript:void(0)" class="text-decoration-none">Add Prefered Location</a></p>
                    </div>
                </div>
                <div class="d-flex justify-content-between">
                    <div class="col-md-6">
                        <label for="">Expected Salary</label>
                        <p><a href="javascript:void(0)" class="text-decoration-none">Add Expected Salary</a></p>
                    </div>
                </div>
            </div>
            <div class="card shadow-lg mt-4 px-3 py-4">
                <h5 class="text-dark">Personal Details <a href="javascript:void(0)"><i class=" ps-2 fs-6 fa fa-pencil"
                            aria-hidden="true"></i></a> </h5>
                <div class="d-flex justify-content-between">
                    <div class="col-md-6">
                        <label for="">Date of Birth</label>
                        <p><a href="javascript:void(0)" class="text-decoration-none"> Add Date of Birth</a></p>
                    </div>
                    <div class="col-md-6">
                        <label for="">Permanent Address</label>
                        <p><a href="javascript:void(0)" class="text-decoration-none">Add Permanent Address</a></p>
                    </div>
                </div>
                <div class="d-flex justify-content-between">
                    <div class="col-md-6">
                        <label for="">Gender</label>
                        <p><a href="javascript:void(0)" class="text-decoration-none">Add Gender</a></p>
                    </div>
                    <div class="col-md-6">
                        <label for="">Area Pin Code</label>
                        <p><a href="javascript:void(0)" class="text-decoration-none">Add Area Pin Code</a></p>
                    </div>
                </div>
                <div class="d-flex justify-content-between">
                    <div class="col-md-6">
                        <label for="">Marital Status</label>
                        <p><a href="javascript:void(0)" class="text-decoration-none">Add Marital Status</a></p>
                    </div>
                    <div class="col-md-6">
                        <label for="">Hometown</label>
                        <p><a href="javascript:void(0)" class="text-decoration-none">Add Hometown</a></p>
                    </div>
                </div>
                <div class="d-flex justify-content-between">
                    <div class="col-md-6">
                        <label for="">Category</label>
                        <p><a href="javascript:void(0)" class="text-decoration-none">Add Category</a></p>
                    </div>
                    <div class="col-md-6">
                        <label for="">Work Permit for USA</label>
                        <p><a href="javascript:void(0)" class="text-decoration-none">Add Work Permit for USA</a></p>
                    </div>
                </div>
                <div class="d-flex justify-content-between">
                    <div class="col-md-6">
                        <label for="">Work Permit for Other Contries</label>
                        <p><a href="javascript:void(0)" class="text-decoration-none">Add Work Permit for Other Contries</a></p>
                    </div>
                </div>
                <div class="d-flex justify-content-between">
                    <div class="col-md-6">
                        <label for="">Differently Abled</label>
                        <p><a href="javascript:void(0)" class="text-decoration-none">Add </a></p>
                    </div>
                </div>
                <div class="d-flex justify-content-between">
                    <div class="col-md-6">
                        <label for="">Languages</label>
                        <p><a href="javascript:void(0)" class="text-decoration-none">Add Languages</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal :- Add Employment-->
<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <form>
        <div class="mb-3">
          <label for="dateOfBirth">Date of birth</label>
          <div class="input-group">
            <input id="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #dp="ngbDatepicker">
            <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
    </div>
  </ng-template>