.profileimage{
    width:100%;
    z-index: 999 !important;
    
}

.profilecamera{
    position: relative;
    left: 40px;
    top: 15px;
    font-size: larger;
}

.container{
    background-color: rgb(244, 244, 235);
}
.profile-header{
    background-color: #4a90e2;
}

.progress {
    height: 8px;
}
.quick-link{
    position: sticky;
    top: 0;
}
.Dont-have-resume{
    font-size: xx-large;
}
.quickresumeupdate{
    font-size:95%;
    font-weight:600;
    
}
.quickadd{
    font-size:95%;
    font-weight:600;
}
.createfreeresume{
    font-size:95%;
    font-weight:600;
}
.addemployment{
    font-size:95%;
    font-weight:600;
}
.addeducation{
    font-size:95%;
    font-weight:600;
}
.additskills{
    font-size:95%;
    font-weight:600;
}
.addprojects{
    font-size:95%;
    font-weight:600; 
}
.addprofilesummary{
    font-size:95%;
    font-weight:600;  
}
.accomplishmentsadd{
    font-size:95%;
    font-weight:600; 
}
.custom-backgrnd-color{
    background-color: #fefbef;
}