<div class="container-fluid bg-white shadow header-position">
    <div class="container">
      <nav class="navbar mx-5 navbar-expand-lg navbar-white bg-white">
        <div class="container-fluid mx-5">
          <a class="navbar-brand" href="javascript:void(0)">
            <img src="assets/images/naukri.png" class="logo" alt="logo" routerLink="/home">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 justify-content-between">
              <li class="nav-item px-4 py-3">
                <a class="nav-link px-0 text-dark" aria-current="page" href="javascript:void(0)">JOBS</a>
              </li>
              <li class="nav-item px-4 py-3">
                <a class="nav-link px-0 text-dark" aria-current="page" href="javascript:void(0)">RECRUITERS</a>
              </li>
              <li class="nav-item px-4 py-3">
                <a class="nav-link px-0 text-dark" aria-current="page" href="javascript:void(0)">TOOLS</a>
              </li>
              <li class="nav-item px-4 py-3">
                <a class="nav-link px-0 text-dark" aria-current="page" href="javascript:void(0)">SERVICES</a>
              </li>
              <li class="nav-item px-4 py-3">
                <a class="nav-link px-0 text-dark" aria-current="page" href="javascript:void(0)">MORE</a>
              </li>
              <li class="nav-item px-4 py-3" >
                <a class="nav-link px-0 text-dark" aria-current="page" (click)="loginPage()" href="javascript:void(0)">LOGIN</a>
              </li>
              <li class="nav-item px-4 py-3" >
                <a class="nav-link px-0 text-dark" aria-current="page" (click)="registerPage()" href="javascript:void(0)">REGISTER</a>
              </li>
              <li class="nav-item px-4 py-3">
                <a class="nav-link px-0 text-dark" aria-current="page" href="javascript:void(0)">FOR EMPLOYEE</a>
              </li>
            </ul>
            <form class="d-flex">
              <a href="javascript:void(0)" class="position-relative">
                <i class="fa fa-bell-o fa-lg text-secondary"></i>
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                  02
                </span>
              </a>
              <span class="px-4">MY NAUKRI</span>
            </form>
          </div>
        </div>
      </nav>
    </div>
  </div>
