* {
    font-size: 12px !important;
    font-weight: 500;
  }
  
  .logo {
    width: 12rem;
  }
  
  .active{
    color: #4A90E2 !important;
    font-weight: 700;
    position: relative;
  }
  .active::after,
  .nav-link:hover::after {
    content: '';
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #4A90E2;
    left: 0px;
    bottom: 3px;
  }
  
  .nav-link:hover{
    color: #4A90E2 !important;
    font-weight: 700;
    position: relative;
  }
  
  .nav-item:hover {
    background-color: rgb(231, 231, 231) !important;
  }
  // .header-position {
  //   position: sticky !important;
  //   top: 0;
  //   z-index: 1100 !important;
  // }